/* Basic CSS resets -- leveling slight inconsistencies in browsers */

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


html, body {
	
}

html {
	
}




body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.winterland {
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom, #b0e0e6, #ffffff);
}

.snowground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.snowman {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 150px;
}

.body {
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    transition: transform 0.3s ease;
    rotate: 20%;
}

.large {
    width: 120px;
    height: 120px;
    bottom: 0;
}

.medium {
    width: 80px;
    height: 80px;
    bottom: 100px;
}

.small {
    width: 60px;
    height: 60px;
    bottom: 170px;
}

.hat {
    position: absolute;
    width: 70px;
    height: 20px;
    background-color: #333;
    bottom: 214px;
    left: 30px;
    transform: translateX(-50%);
}

.hat:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 10px;
    background-color: #333;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.eyes {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    top: -208px;

}

.eyes.left {
    left: 12px;
}

.eyes.right {
    left: 34px;
}

.nose {
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: orange;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    top: -194px;
  left: 26px;
    transform: translateX(-50%) rotate(-200deg);
}

.buttons {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.buttons:nth-child(8) {
    bottom: 60px;
    right:-50px;
    transform: translateX(-50%);
}

.buttons:nth-child(9) {
    bottom:110px;
   right:-50px;
    transform: translateX(-50%);
}

.buttons:nth-child(10) {
    bottom: 140px;
    right: -40px;
    transform: translateX(-50%);
}

.body:hover,
.eyes:hover,
.nose:hover,
.buttons:hover {
    transform: scale(1.2);
}


.snowflake {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    animation: fall 5s infinite linear;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(600px);
    }
}