/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	
	margin:0px;
	padding:0px;
	height:100%;
	background-image: url('../img/the-end-of-evangelion.jpg');
	background-size:cover;
	background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;
     width: 100%;
    height: 100vh;}

		
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */


#container {
	


main{
	padding:20px;

}
header {
	background: #F66E25;
	padding:10px;
}
footer{
	bottom:0;
	position: relative;
}
h1, h2 {
	line-height: 1em;
	font-family: "Roboto", sans-serif;
}

main h1, h2{
	font-size:2.25em;
}
section#originalcontent {
	background:#bf75ea;
	padding:2em;
	border-style: solid;
	border-color: #69139C;
}
section#myresponse {
	margin-top: 10px;
	background:#52d053;
	border-color: #0F7A0F;
	padding:2em;
	border-style: solid
}

p{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
p4{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

}






/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {

	
	main{
		
		margin:auto;
	}
	section#myresponse {
		background: #000000;
		color: black;
		width: 70%;
		margin: auto;
		color: black;
	}
	section#originalcontent{
		background: #52d053;
		width: 70%;
		margin: auto;
	}

	} 
	/* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	#container::after {
		max-width: 2px;
		margin: auto;
	}

	div#container > header h1 {
		color:white;
}

	section#myresponse {
		float: right;
		width: 40%;
		padding:2em;

	}

	section#originalcontent{
		float:left;
		width:45%;
		padding:2em;
	}
	
	footer{

	
	position: relative;

		clear:both;
	}
} /* closes 1024px+ */




