/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	background: #C4DAE1;
	color: #000000;
}


#container {
	
}

main{
	padding:20px;
}
header, footer {
	background: #F66E25;
	padding:10px;
}
h1 {
	font-size: 4em;
	line-height: 1em;
	font-family: "Roboto", sans-serif;
}
main header{
	background:none;
}
main h1{
	font-size:2.25em;
}
section#myresponse {
	background:#bf75ea;
	padding-box:10px;
}
section#originalcontent {
	background: #F6E201;
	padding-box:10px;
}

p1 {
	font-family: "Roboto", sans-serif;
}
}






/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {

	body {
		background: url (...\img\evangelion)
	 no-repeat fixed center;
		padding: 10px;
		margin-bottom: 2em;
	}
	main{
		width:85%;
		margin:auto;
	}
	section#myresponse {
		background: #000000;
		color: #FFFFFF;
		width: 85%;
		margin: auto;
		color: white;
	}
	section#originalcontent{
		background: #bf75ea;
		float: left;
		width: 70%;
		margin: auto;
	}

	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	#container::after {
		max-width: 1200px;
		margin: auto;
	}

	div#container > header h1 {
		color:white;
}

	section#myresponse {
		float: right;
		width: 40%;
	}

	section#originalcontent{
		float:left;
		width:45%;
	}
	
	footer{
		clear:both;
	}
} /* closes 1024px+ */



